.badge {
  --bs-badge-font-weight: 600;
  &.badge-icon {
    border-radius: 50%;
    padding: 0.6em;
    line-height: 1;
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    font-size: 1.2em;
    border: 1px solid transparent;
    margin-right: 0.5em;
  }
}
