.lead {
    font-family: $headings-font-family;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: $headings-margin-top;
    &:first-child {
        margin-top: 0;
    }
}

h3 {
    margin-top: 1,5em;
}
h2 {
    margin-top: 2em;
}