fieldset {
	min-width: min-content;
    border-radius: 0.25rem;
	border: 1px solid $kb-secondary-grey;
	font-weight: 500;
    padding: 1em;
	legend {
        font-size: 1em;
		float: none;
		width: auto;
	}
}