@use "sass:map";
// Typography
$font-family-base: Roboto, sans-serif !default;
$headings-font-family: Sentinel, sans-serif !default;

// KB Colors
$kb-primary-black: #000000 !default;
$kb-primary-white: #FFFFFF !default;
$kb-primary-grey: #F9F9F9 !default;
$kb-primary-green: #B1D18B !default;
$kb-primary-pink: #FD6B8E !default;
$kb-primary-orange: #F7A07B !default;
$kb-primary-blue: #65C6FD !default;

$kb-secondary-turquoise: #058194 !default;
$kb-secondary-blue: #236FC8 !default;
$kb-secondary-grey: #707070 !default;

$kb-signal-red: #D1333A !default;
$kb-signal-yellow: #F4B54F !default;
$kb-signal-green: #01C281 !default;

// Theme map definition
$theme-colors: (
  "background": #f9f9f9,
  "primary":    $kb-primary-black,
  "secondary":  $kb-primary-green,
  "success":    $kb-signal-green,
  "info":       $kb-primary-orange,
  "warning":    $kb-signal-yellow,
  "danger":     $kb-signal-red,
  "light":      $kb-primary-white,
  "dark":       $kb-primary-black
) !default;

$kb-colors: (
  "primary-black":         $kb-primary-black,
  "primary-white":         $kb-primary-white,
  "primary-grey":          $kb-primary-grey,
  "primary-green":         $kb-primary-green,
  "primary-pink":          $kb-primary-pink,
  "primary-blue":          $kb-primary-blue,
  "primary-orange":        $kb-primary-orange,
  "secondary-turquoise":   $kb-secondary-turquoise,
  "secondary-blue":        $kb-secondary-blue,
  "secondary-grey":        $kb-secondary-grey,
  "signal-red":            $kb-signal-red,
  "signal-yellow":         $kb-signal-yellow,
  "signal-green":          $kb-signal-green
);

@each $name, $color in $kb-colors {
  .bg-kb-#{$name} {
      background-color: $color;
  }
  .text-kb-#{$name} {
      color: $color;
  }
}

$input-btn-padding-y:         .7rem !default;
$input-btn-padding-x:         1.5rem !default;
$body-bg: map.get($theme-colors, "background") !default;
$link-color: map.get($theme-colors, "primary") !default;
$navbar-default-bg: map.get($theme-colors, "light") !default;
$input-border-color: $kb-secondary-grey !default;
$lead-font-size: 1.6rem !default;
$lead-font-weight: 500 !default;
$headings-font-weight: 600 !default;
$font-size-base: 1rem !default;

$headings-margin-top:         1em !default;
$h1-font-size:                $font-size-base * 4.125 !default;
$h2-font-size:                $font-size-base * 2.375 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;